{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Chatbot</title>
    <link rel="stylesheet" href="{% static 'css/bulma.min.css' %}">
</head>

<body>
    <div class="container">
        <div class="columns is-centered">
            <div class="column is-half mt-5 p-3 is-one-third has-background-white shadow">
                <h1 class="title">Login</h1>
                {% if error %}
                <p class="p-2 has-text-danger">{{error}}</p>
                {% endif %}
                <form method="POST">
                    {% csrf_token %}
                    <div class="field">
                        <label class="label">Username</label>
                        <div class="control">
                            <input class="input" type="text" name="username" placeholder="Username" required>
                        </div>
                    </div>
                    <div class="field">
                        <label class="label">Password</label>
                        <div class="control">
                            <input class="input" type="password" name="password" placeholder="Password" required>
                        </div>
                    </div>
                    <div class="field">
                        <div class="control">
                            <input class="button is-link" type="submit" value="Login">
                        </div>
                    </div>
                </form>
                <p>Don't have an account? <a href="{% url 'register' %}">Register</a></p>
            </div>
        </div>
    </div>
</body>

</html>